@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --grey-background: rgb(32, 32, 32);
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  @responsive {
    .page-left-padding {
      @apply pl-4;
    }

    .page-right-padding {
      @apply pr-4;
    }

    .page-padding {
      @apply px-4;
    }

    .grey-background {
      background-color: var(--grey-background);
    }

    .body-text {
      font-family: 'Open Sans', sans-serif;
      @apply text-base text-justify text-gray-700;
    }

    @screen first {
      .page-left-padding {
        @apply pl-12;
      }
  
      .page-right-padding {
        @apply pr-12;
      }
  
      .page-padding {
        @apply px-12;
      }
    }

    @screen third {
      .page-left-padding {
        @apply pl-24;
      }
  
      .page-right-padding {
        @apply pr-24;
      }
  
      .page-padding {
        @apply px-24;
      }
    }
  }
}